body {
    margin: 0;
    font-family: Arial, sans-serif;
}

/* top bar */
.topbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    background: #045457;
    color: white;
    position: sticky;
    top: 0;
}

.quicklinks a {
    margin: 0 10px;
    color: white;
    text-decoration: none;
    font-size: 12px;
}

.emergency {
    color: red;
    font-weight: bold;
}

/* hero */
.hero {
    height: 80vh;
    background: url("'/Users/shirvalcustis/Downloads/Healthcare Portal Project/imgs/healthcareimg.jpg'") center/cover no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    text-align: center;
}

.hero h1 {
    font-size: 40px;
}

/* ai chatbox */
.chatbox {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background: white;
    padding: 10px;
    width: 200px;
    border-radius: 10px;
}

/* section colors */
.section {
    padding: 60px;
}

.section1 { background: #E5E5E5; }
.section2 { background: white; }
.section3 { background: #E5E5E5; }
.section4 { background: white; }
.section5 { background: #E5E5E5; }
.section6 { background: white; }

/* carousel */
.carousel {
    display: flex;
    align-items: center;
    justify-content: center;
}

.rating-card {
    padding: 20px;
    background: white;
    margin: 0 10px;
}

/* footer */
footer {
    background: #045457;
    color: white;
    text-align: center;
    padding: 20px;
}